.btn-group button {
    background-color: #ccbc9e; /* Green background */
    border: 1px solid rgb(164, 165, 147); /* Green border */
    color: rgb(253, 253, 253); /* White text */
    padding: 15%; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #725227;
  }